body {
    overflow:hidden;
}

.buttons {       
    cursor: pointer;
    color: #fff;
    background-color: #006622;
    box-shadow: 0 3px #000;
    border: 1px solid black;
    outline:none;
}

.buttons:hover {
    background-color: #277A96;
    
    }

.buttons:active {
  background-color: #277A96;
  box-shadow: 0 3px #000;
  transform: translateY(2px);
}

#header {
    text-align:center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
    margin:auto;
    width:30vw;
    border-bottom: 1px solid #ccc;
}

#center {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    width:30vw;
    height:30vh;
    text-align:center;
    transition: bottom 1s, left 1s;
    
}

#centerimg    {
    height:100%;
    right:0px;
    left:0px;
    position:absolute;
    width:auto;
    margin:auto;
    padding:5px;
}

#buttons    {
    position:absolute;
    bottom:-35px;
    left:0px;
    right:0px;
    
}


#leftb, #rightb {
    width:50px;
    height:auto;
    top:50%;   
    margin-top:-10px;
    position:absolute;
}
#leftb  {
    left:-50px;
    
}
#rightb  {
    right:-50px;
}

#topb, #botb   {
    
    position:absolute;
    height:auto;
    width:50px;
    margin-left:-25px;
    left:50%;
}

.b  {
    display:inline;
}


#topb  {
    top:-25px;
}
#botb  {
    bottom:-75px;
}

#menu   {
    width:75px;
    top:0px;
    right:-75px;
    margin:auto;
    position:absolute;
    text-align:center;
}

.menuimg    {
    width:100%;
    height:auto;    
}
#menub  {
    width:50px;
    position:absolute;
    left:-50px;
}

#mup, #mdown, #mleft, #mright   {
    width:100%;
    margin:2px;
}
#mminus, mplus  {
    width:50%;
    margin:2px;
}

#chat   {
    position:absolute;
    display:none;
    height:10%;
    width:auto;
    transition: bottom 1s, right 1s;
}

#cshirt   {
    position:absolute;
    display:none;
    height:10%;
    width:auto;
    transition: bottom 1s, right 1s;
}

#cring   {
    position:absolute;
    display:none;
    height:10%;
    width:auto;
    transition: bottom 1s, right 1s;
}